<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.org.cgm.quakeviewer" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".QuakeListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuakeDetailActivity"
            android:label="@string/title_quake_detail"
            android:parentActivityName=".QuakeListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuakeListActivity" />
        </activity>
    </application>

</manifest>
